.project {
    margin-bottom: $margin;
    text-align: center;

    @include min-screen('md') {
        background-color: $brand-primary;
        margin-bottom: $margin*1.5;
        position: relative;
        text-align: left;

        &:before {
            content: '';
            background: linear-gradient(25deg, $black -5%, transparent 55%);
            clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            bottom: 0;
        }

        &.project--list {
            &:before {
                display: none;
            }
        }
    }

    @include min-screen('lg') {
        &:before {
            background: linear-gradient(20deg, $black -12%, transparent 48%);
        }
    }
}

.project__inner {
    background-color: $brand-primary;
    padding: $padding*1.5 0 0;

    @include min-screen('md') {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr fit-content(100%);
        column-gap: $margin;
        padding: 0;

        .project--list & {
            position: relative;

            &:before {
                content: '';
                background: linear-gradient(25deg, $black -5%, transparent 55%);
                clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
                bottom: 0;
            }
        }
    }
}

.project__title {
    @include min-screen('md') {
        margin-top: $margin*3;
    }
}

.project__date {
    font-weight: $font-weight-light;
    margin-bottom: $margin*1.5;

    @include min-screen('md') {
        margin-bottom: $margin;
    }
}

.project__description {
    margin-bottom: $margin*1.75;
    padding-left: $padding;
    padding-right: $padding;

    @include min-screen('md') {
        padding: 0;
    }
}

.project__link {
    margin-bottom: $margin*2;
}

.project__image {
    @include min-screen('md') {
        display: flex;
        justify-content: flex-end;
        margin-right: -$margin;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;

        @include min-screen('md') {
            margin-top: auto;
            width: 400px;
            z-index: 1;
        }
    }
}

.project__content {
    background-color: $brand-primary;
    display: none;
    padding: $padding*1.5 0 0;

    @include min-screen('md') {
        background-color: transparent;
        padding: 0;
    }

    &.show{
        display: block;
    }
}